<?xml version="1.0"?>
<launch>
    <!-- Define the RViz configuration file path -->
    <arg name="rvizconfig" default="$(find localisation)/config/my_rviz_config.rviz"/>

    <!-- Define the URDF model file path -->
    <arg name="model" default="$(find localisation)/urdf/puzzlebot_jetson_ed_urdf.urdf"/>

    <!-- Load the URDF into the parameter server under 'robot_description' -->
    <param name="robot_description" command="cat $(arg model)"/>

    <!-- Robot State Publisher to publish the robot states to TF -->
    <node name="robot_state_publisher"
          pkg="robot_state_publisher"
          type="robot_state_publisher"
          output="screen">
    </node>

    <!-- Static Transform Publisher to simulate the odom frame -->
    <node pkg="tf2_ros"
          type="static_transform_publisher"
          name="odom_broadcaster"
          args="0 0 0 0 0 0 odom base_link" />

    <!-- Optional: Static Transform Publisher to simulate the map frame -->
    <node pkg="tf2_ros"
          type="static_transform_publisher"
          name="map_broadcaster"
          args="0 0 0 0 0 0 map odom" />

    <!-- Start RViz with the specified configuration file -->
    <node name="rviz"
          pkg="rviz"
          type="rviz"
          args="-d $(arg rvizconfig)"
          required="true" />
</launch>