<?xml version="1.0"?>
<launch>
        <!-- Launch simulation environment -->
        <arg name="world_file" default="$(find move_to_tag)/worlds/world.world"/>
        <node name="gazebo" pkg="gazebo_ros" type="gazebo" args="$(arg world_file)" output="screen"/>

        <!-- <include file="$(find rviz_simulation)/launch/puzzlebot_rviz.launch"></include> -->
        
        <!-- Load config file for nodes parameter configuration -->
        <rosparam file="$(find move_to_tag)/config/config.yaml" command="load" />

        <node pkg="move_to_tag" type="vision.py" name="vision" output="screen"/>
        <node pkg="move_to_tag" type="visual_servoing.py" name="visual_servoing" output="screen"/>

        <!-- <node pkg="localisation" type="localisation.py" name="localisation" output="screen"/>
        <node pkg="puzzlebot_sim" type="puzzlebot_kinematic_model.py" name="puzzlebot_kinematic_model" output="screen"/>
        <node pkg="puzzlebot_control" type="control.py" name="control" output="screen"/> -->

</launch>
