<?xml version="1.0"?>
<launch>
        <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${node}]: ${message}"/>

        <!-- Send static transform -->
        <node pkg="tf2_ros" type="static_transform_publisher" name="odom_base_joint" args="0 0 0 0 0 0 map odom"/>
        <node pkg="tf2_ros" type="static_transform_publisher" name="lidar_joint" args="0 0 0.1 0 0 0 odom laser_link"/>

        <!-- Include puzzlebot gazebo world launch -->
        <include file="$(find puzzlebot_gazebo)/launch/puzzlebot_gazebo.launch">
            <arg name="pos_x" value="0.0"/>
            <arg name="pos_y" value="0.0"/>
            <arg name="pos_theta" value="0.0"/>
        </include>

        <!-- <include file="$(find slam)/launch/rviz.launch"></include> -->

        <rosparam file="$(find slam)/config/config.yaml" command="load" />

        <!-- Launch nodes -->
        <node pkg="uncertainties" type="uncertainty_localisation.py" name="uncertainty_localisation" output="screen"/>
        <node pkg="move_to_tag" type="pose_controller.py" name="pose_controller" output="screen"/>
        <node pkg="move_to_tag" type="orientation_controller.py" name="orientation_controller" output="screen"/>
        <node pkg="slam" type="map_localisation.py" name="map_localisation" output="screen"/>
</launch>