<?xml version="1.0"?>
<launch>
        <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${node}]: ${message}"/>
        <include file="$(find rosserial_puzzlebot)/launch/puzzlebot_autostart.launch"></include>
        <!-- Send static transform -->
        <node pkg="tf2_ros" type="static_transform_publisher" name="odom_base_joint" args="0 0 0 0 0 0 map odom"/>
        <node pkg="tf2_ros" type="static_transform_publisher" name="lidar_joint" args="0 0 0.1 0 0 0 odom base_link"/>
        <node pkg="tf2_ros" type="static_transform_publisher" name="lidar_link" args="0 0 0.1 0 0 0 base_link lidar_link"/>
        <node pkg="tf2_ros" type="static_transform_publisher" name="laser" args="0 0 0 3.1415926535 0 0 lidar_link laser"/>

        <node pkg="rviz_simulation" type="joint_state_pub.py" name="joint_state_pub" output="screen"/>
        
        <include file="$(find rplidar_ros)/launch/rplidar_a1.launch"></include>

        <rosparam file="$(find slam)/config/config_real_robot.yaml" command="load" />

        <!-- Launch nodes -->
        <node pkg="uncertainties" type="uncertainty_localisation.py" name="uncertainty_localisation" output="screen"/>
        <node pkg="slam" type="map_localisation.py" name="map_localisation" output="screen"/>
</launch>