<?xml version="1.0"?>
<launch>
        <!-- Launch simulation environment -->
        <include file="$(find rviz_simulation)/launch/puzzlebot_rviz.launch"></include>

        <!-- Load config file for nodes parameter configuration -->
        <rosparam file="$(find week2challenge)/config/config.yaml" command="load" />

        <node pkg="localisation" type="localisation.py" name="localisation" output="screen"/>
        <node pkg="puzzlebot_sim" type="puzzlebot_kinematic_model.py" name="puzzlebot_kinematic_model" output="screen"/>
        <!-- <node pkg="puzzlebot_sim" type="cmd_generator.py" name="cmd_generator" output="screen"/> -->
        <node pkg="puzzlebot_controller" type="control.py" name="control" output="screen"/>

</launch>
