<?xml version="1.0"?>
<launch>


        <include file="$(find rviz_simulation)/launch/puzzlebot_rviz.launch"></include>

        <node pkg="localisation" type="localisation.py" name="localisation"/>
        <node pkg="puzzlebot_sim" type="puzzlebot_kinematic_model.py" name="puzzlebot_kinematic_model"/>
        <!-- <node pkg="puzzlebot_sim" type="cmd_generator.py" name="cmd_generator"/> -->
        <node pkg="puzzlebot_control" type="control.py" name="control"/>

</launch>
